<nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm">
  <div class="container px-5">
    <a class="navbar-brand fw-bold" href="/">Gstar 28</a>
  </div>
</nav>
<header class="master-head">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-lg-6 col-md-9">
        <span>APP LANDING PAGE</span>
        <h1>Best Online Casino Games</h1>
        <p>Dorem ipsum dolor sitamet, consectetur adipiscing elit, sed do eiusm tempor incididunt ulabore et dolore
          magna aliqua.</p>
        <div class="slider-btns">
          <a href="" role="button" class="btn btn-outline-secondary me-lg-3 mb-4 mb-lg-0" download>
            <i class="fab fa-apple"></i>
            IOS Download
          </a>
          <a href="" role="button" class="btn btn-outline-dark" download>
            <i class="fab fa-android"></i>
            Android Download
          </a>
        </div>
      </div>
      <div class="col-lg-6">
        <img src="assets/images/banner.jpeg" class="img-fluid">
      </div>
    </div>
  </div>
</header>